.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

.twocoloumn-section.columns-container {
  margin: 0 281px;
}

.twocoloumn-section .cmp-infotwocard {
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  padding: 16px;
  background-color: #fff;
  border: 1px solid #e2e6ec;
  border-radius: 8px;
}

.twocoloumn-section .cmp-infotwocard .button-container {
  width: 100%;
}

.twocoloumn-section .cmp-infotwocard .button-container .button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  box-sizing: border-box;
}

.twocoloumn-section .cmp-infotwocard p:last-of-type .button {
  background-color: #fff;
  color: green;
  border: 1px solid green;
}

.twocoloumn-section .cmp-infotwocard p:last-of-type .button:hover {
  background-color: #c6fcdf;
  border-color: #044f26;
}

.twocoloumn-section .cmp-infocardtagtitle {
  transform: translate(22px, 15px);
  color: #1a2227;
  background: #0be06c;
  max-width: 23%;
  padding: 6px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

.twocoloumn-section .cmp-infocardtagtitle p {
  margin-top: 0;
  margin-bottom: 0;
}

.cmp-infotwocard a {
  color: #065395;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.threecoloumn-section.columns-container {
  margin: 0 281px;
}

.threecoloumn-section .columns-container #why-choose-bingle {
  font-size: 1rem;
}

.threecoloumn-section .cmp-maininfotwocard .icon {
  width: 72px;
  height: 72px;
}

.cmp-maininfotwocard img[data-icon-name]{
  filter: invert(33%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(90%) contrast(90%);
}

@media (width >=900px) {
  .columns>div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}