.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero {
    position: relative;
    padding: 40px 24px;
    min-height: 300px;
}

.hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cmp-hero-content {
    padding-left: 260px;
}

.cmp-herocard-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 40%);
    width: 450px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    height: 320px;
}

.cmp-herocard-content picture {
    display: block;
    margin-bottom: 16px;
}

.cmp-herocard-content p {
    margin-top: 0;
    margin-bottom: 0;
}

.cmp-herocard-content .button {
    display: inline-block;
    padding: 0.5em 1.2em;
    background-color: green !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    width: 100%;
}

.cmp-herocard-content .button:hover {
    border-color: #03401f;
    box-shadow: inset 0 0 0 1px #03401f;
}

.cmp-herocard-content h1 {
    color: black;
}

.cmp-herocard-info {
    display: flex;
    background-color: white;
    padding: 20px;
    color: rgb(255 0 0 / 0.5);
    width: 450px;
    border: 1px solid #d3d3d3;
}

.cmphero-icon-container {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.cmphero-text-container p {
    margin-bottom: 0;
    margin-top: 0;
}

.cmphero-icon-container img {
    width: 50px;
    height: 50px;
}

/* Media Queries for responsiveness */
@media (width <= 600px) {
    .cmp-hero-content {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: 40px 32px;
    }
    .cmp-herocard-content {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        height: 400px;
    }
    .cmp-herocard-content picture {
        order: -1;
        margin-bottom: 20px;
    }
    .cmp-herocard-info {
        width: 100%;
        max-width: 90%;
        margin: 20px auto;
    }
    .button-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (601px <= width <= 900px) {
    .cmp-hero-content {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cmp-herocard-content {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }
    .cmp-herocard-content picture {
        order: -1;
        margin-bottom: 20px;
    }
    .cmp-herocard-info {
        width: 80%;
        max-width: 600px;
        margin: 20px auto;
    }
    .button-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (width >= 901px) {
    .hero {
        padding: 40px 32px;
    }
}
